main {
    width: 80%;
    margin:auto;
}

img {
    width: 300px;
    height:300px;
    object-fit: cover;
    border-radius: 50%;
}



.questionContainer h2{
    text-align: center;
    height: 20%;
}

.quizContainer {
    max-width: 600px;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: cadetblue;
}

.pictureContainer {
    height: 50%;
    width: 80%;
    margin: auto;
}

/* answers */

.answersContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.keyContainer {
    width: 50%;
}
.answer{
    width: 80%;
    margin-top: 20px;
    height: 40px;
}

.answer:disabled {
    cursor: not-allowed;
}

.feedbackContainer{
    height: 40px;
    margin: 0;
    text-align: center;
}

.feedback {
    margin: auto;
    font-size: 20px;
}

@media only screen and (max-width: 640px) {

body {
margin: 0;

}
main {
    width: 100%;
}
.quizContainer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
}
.pictureContainer{
    width: 100%;
    margin: 0;
}

img {
    width: 200px;
    height: 200px;
}

}